
.intro {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.048), rgb(245, 245, 245)), url(../../public/images/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 50rem;
    max-height: 120rem;
    position: relative;
}
.introBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}
.content{
    /* width: 70%; */
    /* align-items: center; */
}
.content h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #111;
    font-weight: 800;
    padding-top: 30px;
}
.content p{
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    width: 700px;
    line-height: 1.6;
    margin: auto;
}
.button{
    height: 60px;
    width: 250px;
    margin: auto;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding: 50px 0px;
}
.button a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #E52222;
    color: #333;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s; 
}

.btn:hover {
    transform: translateY(-3px);
}