.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out;
    
}
.navbar-content {
    padding: 7px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    /* background-color: rgb(243, 243, 243); */
}
.navbar-content h1{
    padding-left: 30px;
}
.navbar-content .links {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-content p {
    margin: 1rem;
    text-decoration: none;
    padding: 6px;
    /* color: #333; */
    font-weight: 700;
}
.navbar-content p:hover {
    color: #939393;
    cursor: pointer;
    transition: 0.1s;
}
@media (max-width: 1000px) {
    .navbar-content p{
        margin: 0.5rem;
    }
  }