.projects-root{
    height: auto;
    background-color: #181818;
    padding-top: 80px;
}
.projectContent{
    max-width: 80%;
    margin: auto;
    padding: 10px;
}
.projectContent h1{
    text-align: center;
    font-size: 4rem;
    margin: 0px;
}
.subProject{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    /* width: 90%; */

}
.projectDetails{
    display: flex;
    flex: 0 1 45%;
    background-color: rgb(0, 0, 0);
    /* padding: 10px; */
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.projectImage{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    z-index: 0;
    object-fit: cover;
    width: 100%;
}
.projectImage img{
    width: 100%;
    transition: 0.2s all ease-in-out;
    
}
.projectDetails:hover img {
    transform: scale(1.1);
}
.projectInfo{
    /* z-index: 1; */
    background-color: rgba(0, 0, 0, 0.574);
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin: 0px 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.projectInfo h2{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    /* margin-bottom: 20px; */
}
.projectInfo p{
    text-align:start;

}
.projectInfo .button{
    margin: 0;
    /* padding: 0; */
}


@media (max-width: 1200px) {
    .projectContent{
        max-width: 90%;
        /* margin: auto; */
        /* padding: 10px; */
    }
    .projectInformation{
        display: none;
    }
    .projectInfo h2{
        font-size: 2rem;
    }
    
  }


.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.512);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-main{
    position: relative;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    border-radius: 5px;
    max-width: 700px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
} 
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
.modalcontent h2{
    margin-bottom: 20px;
}
.modalcontent img{
    width: 50%;
}
.modalcontent p{
    justify-content: center;
    text-align: center;
}
.imageWrapper {
    display: block;
    margin: auto;
    width: 150px; /* Set the desired width for the image */
    height: auto; /* Maintain aspect ratio */
    overflow: hidden; /* Hide any overflow */
  }
  
.imageLink img {
    width: 100%; /* Make the image take up the full width of the wrapper */
    height: auto; /* Maintain aspect ratio */
    filter: invert(1);
  }
.modalImg{
    display: block;
    margin: auto;
}
.display-block {
    display: flex;
}
.display-none {
    display: none;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}