.skills-root{
    height: auto;
    background-color: rgb(27, 29, 31);
}
.skillContent{
    max-width: 1000px;
    margin: auto;
    padding: 100px;
    margin-bottom: -20px;
}
.skills-root h1{
    text-align: center;
    font-size: 4rem;
    margin: 0px;
}
.subSkill{
    max-width: 90%;
    margin: auto;  
}
.subSkill h2{
    font-size: 2.5rem;
    margin: 20px 0px;
}